.linhadotempo{
display: flex;
flex-direction: column;

}
.divisao{
    max-width: 20px;
	margin: 0 auto;
	border: 1px solid #ff9292;
	align-items: center;


}

.container {

    max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
	align-items: center;

}