.divisao{
    margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
	width: 50px;
}

.container {

    margin: 5px;
    background: rgb(205, 255, 149);
    text-align: center;
    font-size: 1.5em;
    width: 50px;

}